In [2]:
import pymysql

In [12]:
conn=pymysql.connect(
    host="localhost",
    user="root",
    password="ozx36250729",
    database="test",
    charset="utf8"
)

cursor=conn.cursor()

创建名为"userinfo"的表格

In [70]:
sql= """
            CREATE TABLE userinfo(
            id INT auto_increment PRIMARY KEY,
            name CHAR(10) NOT NULL UNIQUE,
            age TINYINT NOT NULL
            )
"""
    
try:
    cursor.execute(sql)
except Exception as e:
    print(e)
    conn.rollback()

一次添加多个数据

In [71]:
sql ="""
    INSERT INTO userinfo(name,age)
    VALUES(%s,%s)
"""
data = [
    ("Jimmy",35),
    ("Tom",25)
]

try:
    cursor.executemany(sql,data)
    conn.commit()
    
except Exception as e:
    print(e)
    conn.rollback()

一次添加一个数据

In [72]:
sql ="""
        INSERT INTO userinfo(name,age) VALUES('Bob',19)
        """
try:
    cursor.execute(sql)
    conn.commit()
    
except Exception as e:
    print(e)
    conn.rollback()

打印所有插入记录

In [73]:
sql =" SELECT * FROM userinfo  "

try:
    cursor.execute(sql)
    
    record=cursor.fetchall()
    order=1
    for row in record :
        id=row[0]
        name=row[1]
        age=row[2]
        print('The No.%d record  -- id : %d  name : \"%s\"  age : %d' %\
                    (order,id,name,age))
        order+=1
        
    conn.commit()
    
except Exception as e :
    print(e)
    conn.rollback()

The No.1 record  -- id : 1  name : "Jimmy"  age : 35
The No.2 record  -- id : 2  name : "Tom"  age : 25
The No.3 record  -- id : 3  name : "Bob"  age : 19

把年龄全部改为40

In [74]:
sql1 =" UPDATE  userinfo SET age=40 WHERE age<=40 "
sql2 =" SELECT * FROM userinfo "

try:
    cursor.execute(sql1)
    cursor.execute(sql2)
    
    record=cursor.fetchall()
    
    print('The table after modification :')

    for row in record:
        name=row[1]
        age=row[2]
        print('%s\'s age now has been changed to %d ' %(name,age))
        
    conn.commit()
    
except Exception as e:
    print(e)
    conn.rollback()

The table after modification :
Jimmy's age now has been changed to 40
Tom's age now has been changed to 40
Bob's age now has been changed to 40

删除名为 'Bob' 的行

In [80]:
sql1 ="DELETE FROM userinfo WHERE name='Bob' "
sql2 ="SELECT *FROM userinfo "
try:
    cursor.execute(sql1)
    cursor.execute(sql2)
    
    record=cursor.fetchall()
    
    print('The table after deleting the row \'Bob\' : ')
    count=1
    for row in record :
        id=row[0]
        name=row[1]
        age=row[2]
        print('The row %d -- id : %d  name : \'%s\'  age : %d' % (count,id,name,age))

        count+=1
    
    conn.commit()

except Exception as e:
    print(e)
    conn.rollback()

The table after deleting the row 'Bob' :
The row 1 -- id : 1  name : 'Jimmy'  age : 40
The row 2 -- id : 2  name : 'Tom'  age : 40

按首字母先后逆排序

In [76]:
sql=" SELECT * FROM userinfo ORDER BY name DESC"
 
try:
    cursor.execute(sql)
    record=cursor.fetchall()
    
    print('The table sorted by descending order :')
    for row in record:
        id=row[0]
        name=row[1]
        age=row[2]
        print(' id : %d  name : \'%s\'  age : %d' % (id,name,age))
    
    conn.commit()
    
except Exception as e:
    print(e)
    conn.rollback()

The table sorted by descending order :
 id : 2  name : 'Tom'  age : 40
 id : 1  name : 'Jimmy'  age : 40